* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #faedee;
  padding: 4rem 4rem;
  min-height: 100vh;
}
.italic {
  font-style: italic;
}

.loader {
  position: fixed;
  top: 50%;
  right: 50%;
  /* transform: translate(50%,50%); */
}